body
{
    padding-top: 50px;
    background-color: #F7F7F7;
}


.post
{
    margin-bottom: 26px;
    background-color: #E6E6E6;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    /*-webkit-filter: blur(2px);*/
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    width: 500px;
    height: 200px;
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}

.btn
{
    margin-top: 10px;
}
