.text_formulario > tr{
	margin-top: 10px;

}

.label_formulario{
	margin-top: 100px;	
}

.text_formulario{
	margin-top: 10px;
}


.botaoConfirmacao{
	margin-top: 10px;
	margin-left: 595px;
}

.mapa{
	padding: 10px 0 0; 
	clear: both;
}
